/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/*--------------------*/
.section {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
}
.container {
  padding: auto;
  width: auto;
}
.title {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 36px;
  text-align: center;
}
h2 {
  font-size: 36px;
  color: #212121;
  font-family: Raleway, italic;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.border {
  border-top: 2px solid #d98943;
  max-width: 64px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
h6 {
  font-family: open sans-serif;
  font-size: 14px;
  color: #86878b;
}
.container_awesome {
  margin: 31px 0px 89px 0px;
  text-align: center;
}
.menu {
  max-width: 350px;
  margin: auto;
  margin-bottom: 32px;
}
.awesome_img {
  display: block;
  border: 1px solid #d98943;
  border-radius: 35px;
  max-width: 70px;
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
h3 {
  font-family: open sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 16px;
}
.lorem {
  font-family: open sans-serif;
  font-size: 14px;
  line-height: 19px;
}
