.container_clients {
  margin: auto;
  max-width: 1170px;
  padding: 0 15px 0 15px;
  position: relative;
}
.clients_slider_photo {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}
.clients_slider_photo_01 {
  width: 50%;
  height: 100%;
}
.clients_slider_comment {
  width: 50%;
  justify-content: center;
  background-color: #53354a;
  padding-left: 86px;
  padding-bottom: 183px;
  padding-top: 115px;
}
.clients_slider_comment_text {
  font-style: italic;
  font-size: 36px;
  line-height: 36px;
  padding-bottom: 30px;
  color: white;
}
.clients_slider_comment_name {
  font-size: 13px;
  text-transform: uppercase;
  color: white;
  font-style: Raleway-bold;
}
/* Слайдер */
.slick-slider {
}
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.slick-track {
  display: flex;
  flex-flow: row;
}

/* Слайд */
.slick-slide {
}
/* Слайд активный */
.slick-slide.slick-active {
}
/* Слайд основной */
.slick-slide.slick-current {
}
/* Слайд по центру */
.slick-slide.slick-center {
}

/* Стрелка */
.slick-arrow {
}
/* Стрелка влево */
.slick-arrow.slick-prev {
}
/* Стрелка вправо */
.slick-arrow.slick-next {
}
/* Стрелка не активная */
.slick-arrow.slick-disabled {
}

/* Точки */
.slick-dots {
}
.slick-dots li {
}
.slick-dots button {
}

.clients_slider .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0;
}
.clients_slider .slick-arrow.slick-prev {
  left: 0;
  background: url(/project/img/slic-arrow/sl-arrow_l.svg);
}
.clients_slider .slick-arrow.slick-next {
  background: url(/project/img/slic-arrow/sl-arrow_2.svg);
  right: 0;
}
.clients_slider .slick-dots {
  display: flex;
  position: absolute;
  top: 355px;
  right: 20%;
}
.clients_slider .slick-dots li {
  margin-left: 13px;
  padding-bottom: 107px;
}
.clients_slider .slick-dots button {
  font-size: 0px;
  border: 0px solid black;
  background-color: black;
  opacity: 0.2;
  width: 13px;
  height: 13px;
  border-radius: 13px;
  &:hover {
    background-color: white;
    opacity: 1;
  }
}
