@charset "UTF-8";
/*Обнуление*/
@import url("/project/css/header.css");
@import url("/project/css/masterhead.css");
@import url("/project/css/clients.css");
@import url("/project/css/footer.css");
@import url("/project/css/works.css");
@import url("/project/css/features.css");
@import url("/project/css/team.css");
@import url("/project/css/dowload.css");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 19px;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.header {
  width: 100%;
  font-style: "Raleway", "sans-serif";
  position: fixed;
  top: 0;
  right: 0;
}

.section {
  width: 100%;
  margin: auto;
}

.fa-facebook-f:hover {
  color: #3b5998;
}

.fa-invision:hover {
  color: #2f7bbd;
}

.fa-twitter:hover {
  color: #00acee;
}