@charset "UTF-8";
.container_clients {
  margin: auto;
  max-width: 1170px;
  padding: 0 15px 0 15px;
}
.clients_slider_photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}
.clients_slider_photo_01 {
  width: 50%;
  height: 100%;
}
.clients_slider_comment {
  width: 50%;
  padding: 116px auto 184px 84px;
}
.slick-list {
  overflow: hidden;
}
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row;
  flex-flow: row;
}
.clients_slider .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0;
}
.clients_slider .slick-arrow.slick-prev {
  left: 0;
  background: url(/project/img/slic-arrow/sl-arrow_l.svg);
}
.clients_slider .slick-arrow.slick-next {
  background: url(/project/img/slic-arrow/sl-arrow_2.svg);
  right: 0;
}
